var filter = {
  getDate: function (num, type) {
    var dd = getDate(num);
    var y = dd.getFullYear();
    var m = dd.getMonth() + 1;
    var d = dd.getDate();
    var h = dd.getHours();
    var i = dd.getMinutes();
    var s = dd.getSeconds();
    m = m < 10 ? '0' + m : m;
    d = d < 10 ? '0' + d : d;
    h = h < 10 ? '0' + h : h;
    i = i < 10 ? '0' + i : i;
    s = s < 10 ? '0' + s : s;
    if (type) {
      return y + '-' + m + '-' + d + ' ' + h + ':' + i + ':' + s
    } else {
      return y + '-' + m + '-' + d
    }
  },
  getNum: function (carInfo, lineInfo) {
    var num = carInfo.num
    var startLimit = carInfo.startLimit || []
    var endLimit = carInfo.endLimit || []
    var limitArr = startLimit.concat(endLimit)
    limitArr.some(function(item){
      if (item.name === lineInfo.start || item.name === lineInfo.end) {
        num = item.num
        return true
      }
    })
    return num
  }
}
module.exports = {
  getDate: filter.getDate,
  getNum: filter.getNum
}